.home-slider{
    .play-button{
        height: 112px;
        width: 112px;
        border-radius: 100%;
        position: absolute;
        overflow: hidden;
        bottom: 20%;
        left: 20%;
        cursor: pointer;
        z-index: 2;
        svg{
            height: 100%;
            width: 100%;
        }
    }
   
    @include media-breakpoint-down(md) {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0px;
    }
    &-item{
        position: relative;
        display: flex;
        padding-bottom: 75px;
        padding-top: 75px;
        width: 100%;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            padding-top: 0;
            padding-bottom: 0px;
        }
        &.swiper-slide{
            height: auto;
        }
        &-image{
            top: 0;
            left: 0;
            position: absolute;
            width: 80%;
            height: 100%;
            background: var(--blue);
            @include media-breakpoint-down(md) {
                position: relative;
                width: 100%;
                height: auto;
                padding-top: 52%;

                .home-slider-item-image--media{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            &--media{
                display: flex;
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
                
                picture {
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        object-fit: cover;
                    }
                }
            }
            video{
                position: absolute;
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        &-content{
            background: white;
            position: relative;
            padding: 75px;
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 30px;
            width: 555px;

            @include media-breakpoint-down(md) {
                width: 100%;
                padding: 30px;
            }
            h4{
                margin-top: 10px;
                color: var(--blue);
            }
            .button{
                &--wrapper{
                    margin-top: 39px;
                }
            }
        }
    }

    
    &.home-slider-w-slider{
        .home-slider-item{
            @include media-breakpoint-down(md) {
                padding-bottom: 50px;
            }
        }
    }
    
}

.swiper-wrapper, .tab-item, .media-slider{
    .swiper-button-next, .swiper-button-prev {
        height: 50px;
        width: 50px;
        border: 2px solid var(--grey);
        border-radius: 100%;
        background: white;
        top: unset;
        bottom: 30px;
      
    }
}

.swiper-button-next{
    &.--header{
        right: 30px;
        transform: translateY(0%);
        @include media-breakpoint-down(md) {
            &.--posth{
                bottom: 0;
            }
        }
    }

    &.--services{
        right: 0;
        bottom: unset;
        left: unset;
        top: 0%;
        transform: translateY(0%);
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

}
.swiper-button-prev{
    &.--header{
        left: 30px;
        transform: translateY(0%) rotate(180deg);
        @include media-breakpoint-down(md) {
            &.--posth{
                bottom: 0;
            }
        }
    }

    &.--services{
        left: unset;
        right: 0;
        bottom: unset;
        top: 0%;
        transform: translateY(0%) rotate(180deg) translateX(calc(100% + 15px));
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}