/* FONT & TEXT STYLING */
@font-face {
    font-family: 'Ubuntu';
    src: url('/theme/assets/fonts/Ubuntu-Light.woff2') format('woff2'),
        url('/theme/assets/fonts/Ubuntu-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/theme/assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('/theme/assets/fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/theme/assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('/theme/assets/fonts/Ubuntu-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/theme/assets/fonts/Ubuntu-Bold.woff2') format('woff2'),
        url('/theme/assets/fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Abuget';
    src: url('/theme/assets/fonts/Abuget.woff2') format('woff2'),
        url('/theme/assets/fonts/Abuget.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.--italic{
    font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-size: 3.125rem;
    line-height: 1.05;
    font-weight: 500;
    @include media-breakpoint-down(sm) {
        br {
            display: none;
        }
    }
}


h2 {
    font-size: 3.125rem;
    line-height: 1.05;
    font-weight: 500;
}

h3 {
    font-size: 1.875rem;
    line-height: 1.05;
    font-weight: 500;
}
h4 {
    font-size: 1.625rem;
    line-height: 2.25rem;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
        font-size: 1.25rem;
        line-height: 1.2;
    }
}
h5 {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
        font-size: 	1.125rem;
        line-height: 1.2;
    }
}
h6 {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 300;
    @include media-breakpoint-down(sm) {
        font-size: 1.125rem;
        line-height: 1.2;
    }
}
p, a, u, span, select, section, td, th, option, form, input, b, strong, ul, ol, li, textarea, label, button, input, iframe, table  {
    font-family: 'Ubuntu';
    font-size: 1.125rem;
    line-height: 1.813rem;
    font-weight: 300;
}

p a{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;  
}
b, strong{
    font-weight: bold;
}

.post-header.content-header .post-header__content__title h1 .title_line span.label{
    font-family: 'Ubuntu';
    font-size: 1.125rem;
    line-height: 1.125rem;
    font-weight: 400;
    color: var(--dark-blue);
    background-color: var(--purple-light);
    padding: 13px;
    border-radius: 10px;
    margin-left: 17px;
    margin-bottom: 60px;
    @include media-breakpoint-down(md){
        margin-bottom: 8px!important;
    }
}

.post-header.content-header .post-header__content__title h1{
    color: var(--color-dark);
}