
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  line-height: 30px;
  border-radius: 100%;
  &:before {
    content: '\00a0';
  }
  &.flag-icon-squared {
    width: 1em;
  }
}

@mixin flag-icon($country) {
  .flag-icon-#{$country} {
    background-image: url('/theme/assets/images/flags/1x1/#{$country}.svg');
    &.flag-icon-squared {
      background-image: url('/theme/assets/images/flags/1x1/#{$country}.svg');
    }
  }
}
