.accordion{
    /* ACCORDION */
    .card{
        background-color: transparent;
        @include border-radius(0);
        border-width: 0 0 0 0;
        border-color: transparent;
        @include position(relative);
        min-width: 0;
        word-wrap: break-word;
        background-color: transparent;
        background-clip: border-box;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--dark-blue);
        
        &-button{
            @include position(relative);
            &:hover{
                text-decoration: none;
            }
        }
    
        h4{
            margin-bottom: 0;
            color: var(--dark-blue);
            
            @include position(relative);
            &::before{
                content: '';
                height: 20px;
                width: 20px;
                position: absolute;
                margin-left: 17px;   
                line-height: 0;
                right: 0;
                top: 4px;
                @include ease(.3s);
                @include transform(rotate(0));
                @include mask('/theme/assets/images/accordion_cross.svg', black);
            }
        }

        &.active{
            h4{
                &::before{
                    @include transform(rotate(-270deg));
                    @include mask('/theme/assets/images/accordion_line.svg', black);
                }
            }
        }

        .collapse:not(.show) {
            display: none;
        }

        &-header{
            padding: 0 0 0 0;
            padding-right: 0;

            .card{
                &-header{
                    text-decoration: none;
                }
            }
        }

        &-body{
            padding: 1rem 0rem 0 0;

            :nth-last-child(1){
                margin-bottom: 0;
            }
            .media-slider{
                overflow: hidden;
                margin-bottom: 30px;
            }
        }
    }
}