.branches-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
    left: calc(50% - 50vw);
    overflow-x: scroll;
    padding-left: 9vw;
}
.branches-wrapper .branche-category{
    height: 80px;
    width: auto;
}
.branche-category {
    position: relative;
    height: 80px;
    width: auto;
    margin-right: 90px;
    background-color: var(--dark-blue);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 30px;
    padding-right: 30px;
    span {
        color: var(--white);
        font-weight: 400;
    }
}