//Community

.community {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-color: var(--dark-blue);
    &__inner {
        position: relative;
        height: 100%;
        transform: rotate(-4deg);
    }
    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 140vw;
        left: -20vw;
        top: 50%;
        transform: translateY(-50%);
        padding: 100px 0;
        @include media-breakpoint-down(sm) {
            width: 400vw;
            left: -150vw;
        }
        &__row {
            display: flex;
            margin-top: -10px;
            margin-bottom: -10px;
            &.odd {
                margin-left: -15vw;
                @include media-breakpoint-down(sm) {
                    margin-left: -40vw;
                }
            }
            &.even {
                margin-left: 6vw;
            }
        }
    }
    &__intro {
        width: 100%;
        height: 100%;
        background-color: var(--dark-blue);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include media-breakpoint-down(sm) {
            padding: 30px;
        }
        &-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--dark-blue);
            @include media-breakpoint-down(sm) {
                height: 90%;
            }
            .skip-button {
                position: absolute;
                cursor: pointer;
                bottom: 96px;
                visibility: hidden;
                @include media-breakpoint-down(sm) {
                    bottom: 50px;
                }
            }
        }
        &__video {
            z-index: 3;
            height: 100%;
            .skip-button {
                visibility: hidden!important;
            }
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &__text {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding-bottom: 6%;
                h1 {
                    color: var(--white);
                    visibility: hidden;
                    pointer-events: none;
                    @include media-breakpoint-down(sm){
                        font-size: 2.75rem;
                        line-height: 1;
                    }
                }
            }
        }
        &__text {
            z-index: 2;
            h4 {
                font-size: 2rem;
                line-height: 1.3125;
                color: var(--green);
                max-width: 820px;
                min-width: 820px;
                text-align: center;
                pointer-events: none;
                visibility: hidden;
                @include media-breakpoint-down(md) {
                    font-size: 1.5rem;
                    line-height: 1.2;
                    min-width: unset;
                    width: calc(100% - 60px);
                }
            }
        }
        &__images {
            z-index: 1;
            .community__intro__image {
                position: absolute;
                width: 20%;
                opacity: 0;
                transform: scale(1.2);
                picture {
                    padding-bottom: calc(1 / var(--ratio) * 100%);
                }
                &.__1 {
                    top: 9%;
                    left: 12%;
                    z-index: 1;
                }
                &.__2 {
                    width: 32%;
                    top: 14%;
                    left: 23%;
                    z-index: 4;
                }
                &.__3 {
                    bottom: 20%;
                    left: 43%;
                    z-index: 3;
                }
                &.__4 {
                    width: 18%;
                    top: 10%;
                    right: 30%;
                    z-index: 2;
                }
                &.__5 {
                    width: 12%;
                    top: 18%;
                    right: 14%;
                    z-index: 1;
                }
                &.__6 {
                    bottom: 13%;
                    left: 18%;
                    z-index: 1;
                }
                &.__7 {
                    width: 29%;
                    bottom: 15%;
                    right: 10%;
                    z-index: 1;
                }
            }
        }
        
    }
    .culture-button {
        position: absolute;
        bottom: 45px;
        text-align: center;
        width: 100%;
        @include media-breakpoint-down(sm) {
            bottom: 16vh;
        }
        .button {
            height: 40px;
            a {
                padding: 0 17px;
            }
        }
    }
}

.teamleden{
    padding-bottom: 70px;
    &:after{
        content: '';
        display: inline-block;
        width: 21%;
        height: 1px;
    }

    .swiper-wrapper{
        padding-top: 20px;
        .swiper-slide{
            &:nth-child(4n+1){
                top: 8px;
            }
        
            &:nth-child(4n+2){
                top: 30px;
            }
        
            &:nth-child(4n+3){
                top: -20px;
            }
        
            &:nth-child(4n+4){
                top: 70px;
            }
        }
        .team-item{
            width: 100%;
            &:nth-child(4n+1){
                top: 0px;
            }
        
            &:nth-child(4n+2){
                top: 0px;
            }
        
            &:nth-child(4n+3){
                top: 0px;
            }
        
            &:nth-child(4n+4){
                top: 0px;
            }
        }
    }
}




.team-item {
    position: relative;
    width: 21%;
    margin-bottom: 60px;
    @include media-breakpoint-down(lg) {
        width: 45%;
    }
    &__image {
        border-radius: 30px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        p {
            margin-bottom: 0;
            font-weight: 500;
            &.team-item__content_function{
                font-weight: 300;
                font-size: 15px;
            }
        }
    }

    &:nth-child(4n+1){
        @include media-breakpoint-up(xl) {
            top: 8px;
        }
    }

    &:nth-child(4n+2){
        @include media-breakpoint-up(xl) {
            top: 30px;
        }
    }

    &:nth-child(4n+3){
        @include media-breakpoint-up(xl) {
            top: -20px;
        }
    }

    &:nth-child(4n+4){
        @include media-breakpoint-up(xl) {
            top: 70px;
        }
    }

    @include media-breakpoint-down(sm) {
        width: calc(100% - 60px);
    }

    &:nth-child(2n){
        @include media-breakpoint-down(sm) {
            margin-left: auto;
        }
    }
}