.form-font-size {
    font-size: 0;
}
.contact-form {
    &__title {
        margin-bottom: 60px;
        h2 {
            margin-bottom: 0;
            color: var(--white);
        }
    }

    .submit-form-btn {
        background: white;
        a {
            color: var(--blue);
        }
    }

    &.diapositive {
        .form-field-container {
            .form-field__input,
            .form-field__select,
            .form-field__textarea {
                border-bottom: 2px solid var(--dark-blue);
                color: var(--dark-blue);
            }
        }
        .form-field {
            label {
                color: var(--dark-blue);
            }
            &.checkbox,
            &.radio {
                label {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-bottom: 10px;
                }
            }
        }

        .submit-form-btn {
            background: var(--gradient);
            a {
                color: white;
            }
        }
       

        .form-field-container .form-field.radio .option-group .option label, .form-field-container .form-field.checkbox .option-group .option label{
            color: var(--dark-blue);

            input{
                border: 2px solid var(--dark-blue);
            }
            input::before{
                background-color: var(--dark-blue);
            }
        }
        
    }
}

.form-field-container .form-field{
    &.select{
        opacity: 1;
    
        .form-field__label{
            position: relative;
        }

        select{
            border: 2px solid white;
            border-radius: 15px;
            height: 40px;
            padding: 4px 20px;
        }
    }
}
.contact-form{
    position: relative;
    .form-group-description{
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        font-family: 'Abuget', sans-serif;
        font-size: 50px;
        line-height: 35px;
        text-align: center;
        transform: translateY(-40px) translateX(50%) rotate(-10deg);
        
        &-arrow{
            position: relative;
            transform: rotate(55deg);
            margin-top: 10px;
        }
    }    
}

.form-field-container {
    position: relative;
    margin-bottom: 30px;
    .form-field {
        display: block;
        position: relative;
        z-index: 3;
        width: 100%;
        opacity: .5;
        &__label {
            position: absolute;
            top: 0;
            left: -5px;
            padding-left: 5px;
            padding-right: 5px;
            background-color: transparent;
            color: var(--white);
            z-index: 0;
            pointer-events: none;
            transform-origin: left;
            font-weight: 400;
            transition: transform .5s ease;
            display: inline-block;
            margin: 0;
        }
        &__input,
        &__textarea,
        &__select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 0;
            border: none;
            display: block;
            outline: 0;
            width: 100%;
            z-index: 5;
            height: 34px;
            padding: 0;
            color: var(--white);
            background-color: transparent;
            font-weight: 400;
            transition: all .5s ease;
            border-bottom: 2px solid var(--white);
            &::placeholder {
                color: rgba(0, 0, 0, 0.25);
            }
        }
        &__textarea {
            min-height: 78px;
        }
        &.radio,
        &.checkbox {
            .option-group {
                .option {
                    margin-right: 30px;
                    label {
                        margin-bottom: 0;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        position: relative!important;
                        pointer-events: auto;
                        top: 0;
                        left: 0;
                        color: white;
                        input {
                            position: relative;
                            width: 24px;
                            height: 24px;
                            appearance: none;
                            border: 2px solid white;
                            border-radius: 50%;
                            margin-right: 10px;
                            flex-shrink: 0;
                            &::before {
                                content: '';
                                width: 20px;
                                height: 20px;
                                top: 0;
                                left: 0;
                                background-color: white;
                                border-radius: 50%;
                                position: absolute;
                                opacity: 0;
                                transition: all .5s ease;
                            }
                            &:checked {
                                &::before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-file {
            opacity: 1;
            &__label {
                position: relative;
                color: var(--white);
                font-weight: 400;
            }
            .form-field__file {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .form-field__file__label {
                font-weight: 500;
                color: white;
                border: 2px solid var(--white);
                border-radius: 15px;
                height: 40px;
                padding: 4px 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0;
                cursor: pointer;
                span {
                    font-weight: inherit;
                }
            }
            
            .svg-wrapper {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                svg {
                    width: 22px;
                    pointer-events: none;
                }
                .file-icon {
                    pointer-events: none;
                }
                .cross-icon {
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    cursor: pointer;
                    z-index: 3;
                    pointer-events: none;
                    path {
                        pointer-events: none;
                    }
                }
                .show-icon {
                    opacity: 1;
                    pointer-events: all;
                }
                .hide-icon {
                    opacity: 0;
                }
            }
            
            .file-drop-button{
                width: 80%;
    
                @include media-breakpoint-down(md) {
                    width: 100%;
                    margin-top: 10px;
                    .button.file-drop{
                        margin-left: 0;
                    }
                }
            }
        
        }
        &.checkbox {
            .option-group {
                .option {
                    label {
                        input {
                            border-radius: 5px;
                            &::before {
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
        &.form-field--is-active,
        &.form-field--is-filled {
            opacity: 1;
            .form-field__label,
            .form-field__label__file {
                transform: translateY(-22px) translateX(2px) scale(0.6);
            }
            .form-field__input,
            .form-field__select, 
            .form-field__textarea { 
            }
        }
        .select-arrow {
            top: 8px;
        }
    }
    &.whole {
        width: 100%;
    }
    &.half {
        width: calc(50% - 22px);
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
}

.laguage-switch{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    z-index: 200;
    @include media-breakpoint-down(sm) {
        right: 30px;
    }
    a{
        position: absolute;
        z-index: 2;
        padding: 3px;
        background: white;
        box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.13);
        border-radius: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        pointer-events: none;

        span {
            transform: scale(0);
            transition: all .3s ease-in-out;
        }
        
        &.language-switch-item-active{
            transform: translateY(-50%) translateX(0%);
            top: 50%!important;
            right: 0!important;
            padding: 3px;
            z-index: 1;
            opacity: 1;
            visibility: visible;
            pointer-events: inherit;

            span {
                transform: scale(1);
            }
        }        
    }

    &:hover{
        a{
            opacity: 1;
            visibility: visible;
            pointer-events: inherit;

            span {
                transform: scale(1);
            }
        }
    }
}