.description_list{
    position: relative;

    &.vacancy-description{
        .description_list{
            &-side{
                min-height: 635px;
                padding-top: 51px;
                padding-bottom: 51px;
                @include media-breakpoint-down(md) {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    min-height: unset;

                    h3{
                        margin-bottom: 40px;
                    }
                }
                &.--right{
                    background-color: var(--grey);

                    h3{
                        color: var(--dark-blue);
                    }

                    ul{
                        margin-bottom: 0;
                        li{
                            color: var(--dark-blue);
                        }
                    }
                }

                &.--left{
                    h3{
                        color: var(--white);
                    }

                    p{
                        color: var(--white);
                        margin-bottom: 0;
                        text-align: left;
                        max-width: 65%;
                    }
                }
            }
        }
    }

    &.--employer{
        .description_list{
            &-side{
                &.--left{
                    background-color: var(--grey);
        
                    p{
                        color: var(--green);
                    }
                }
            }
            &--item{
                &-indicator{
                    &::after{
                        border: 1px solid var(--green);
                    }
                    &::before{
                        background-color: var(--green);
                    }
                }

                &:hover, &.--active{
                    h3{
                        color: var(--green);
                    }
                }
            }
        }
    }
    &-side{
        position: relative;
        width: 50%;
        padding-top: 136px;
        padding-bottom: 136px;
        padding-right: 9%;
        padding-left: 9%;

        @include media-breakpoint-down(md) {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &.--left{
            background-color: var(--dark-blue);
            height: 726px;
            @include media-breakpoint-down(md){
                height: auto;
                min-height: 300px;
            }
            p{
                color: var(--white);
                text-align: center;
            }
        }
    }

    &--item{
        position: relative;
        margin-bottom: 50px;
        &-counter{
            p{
                color: var(--green);
                @include media-breakpoint-down(md){
                    width: 40px;
                }
            }
        }

        @include media-breakpoint-down(md){
            display: flex;
            margin-bottom: 30px;
        }

        &-indicator{
            @include media-breakpoint-down(md){
                display: none
            }
            position: absolute;
            top: 48px;
            &::after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border: 1px solid var(--dark-blue);
                left: -105px;
                transform: translateX(0) translateY(4px);
                transition: all .3s ease-in-out;
            }

            &::before{
                content: '';
                background-color: var(--dark-blue);
                width: 12px;
                height: 12px;
                border: 2px solid var(--white);
                position: absolute;
                border-radius: 100%;
                left: -105px;
                transform: translateX(-50%);
                transition: all .3s ease-in-out;
            }
        }

        h3{
            color: var(--dark-blue);
            transition: all .3s ease-in-out;
            @include media-breakpoint-down(md){
                width: calc(100% - 40px);
            }
        }

        &:nth-last-child(1){
            margin-bottom: 0;
        }

        &:hover, &.--active{
            .description_list--item-indicator{
                &::before{
                    left: -50px;
                    border: 2px solid transparent;
                }

                &::after{
                    width: 50px;
                }
            }

            h3{
                color: var(--dark-blue)
            }
        }
    }
}