/* DISPLAY FLEX STYLING */
.fl-container {
    display: flex;
}
.fl-row {
    flex-direction: row;
}
.fl-column {
    flex-direction: column;
}
.fl-wrap {
    flex-wrap: wrap;
}
.jc-start {
    justify-content: flex-start;
}
.jc-center {
    justify-content: center;
}
.jc-end {
    justify-content: flex-end;
}
.jc-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.ai-end{
    align-items: flex-end;
}
