.footer {
    &__inner {

    }
    &__form {
        background-color: var(--gradient);

        &__inner{
            margin: 0 auto;
        }
    }
}

.footer {
    position: relative;
    &__inner {

    }

    &-links{
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 40px;

            a{
                margin-bottom: 10px;
            }

            .button{
                a{
                    margin-bottom: 0;
                }
            }
        }
    }
    &__form {
        padding-top: 150px;
        padding-bottom: 150px;
        background: var(--gradient);
    }

    &__copyright{
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        padding-bottom: 45px;

        p{
            margin-bottom: 0;
            opacity: .5;
        }
        
        a{
            transition: all .3s ease-in-out;
        }

        &-copy {
            a{

                margin-left: 30px;
                color: var(--dark-blue);
                opacity: .5;

                &:hover{
                    opacity: 1;
                }

                @include media-breakpoint-down(lg) {
                    margin-left: 0px;
                }
            }

            @include media-breakpoint-down(lg) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        &-maker{
            a{
                color: var(--dark-blue);
                opacity: .5;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    &__bottom {
        padding-top: 45px;
        padding-bottom: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        background-color: white;

        a{
            margin-right: 30px;
            color: var(--dark-blue);
        }

        .button a{
            margin-right: 0;
        }
        &__wrapper{
            @include media-breakpoint-down(lg) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &__left {
            width: 113px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            h2 {
                color: var(--white);
            }

            img{
                width: 100%;
            }
            @include media-breakpoint-down(lg) {
                width: 100%;
                margin-bottom: 0;
            }
        }

        &__center{
            a{
                font-weight: bold;
                font-size: 14px;
                line-height: 19px;
                color: var(--dark-blue);
                margin-left: 30px;

                &:nth-child(1){
                    margin-left: 0;
                }
            }
        }
        &__right {
            width: 110px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            padding-right: 100px;
            @include media-breakpoint-down(lg) {
                width: 100%;
                margin-top: 40px;
            }
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        
        .copyright {
            color: var(--dark-blue);
            font-size: 0.688rem;
            margin-bottom: 0;
            line-height: normal;
            @include media-breakpoint-down(sm) {
                margin-bottom: 20px;
            }
        }
       
    }
    .single-field-form {
        @include media-breakpoint-down(sm) {
            margin-bottom: 35px;
        }
    }

    .footer__contact {
        width: 50%;
        @include media-breakpoint-down(lg) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
        &__title {
            margin-bottom: 32px;
            @include media-breakpoint-down(sm) {
                margin-bottom: 10px;
            }
        }
        p {
            opacity: .5;
            color: var(--dark-blue);
            margin-bottom: 0;
        }

        a{
            color: var(--dark-blue);
            margin-bottom: 0;
            text-decoration: underline 1px transparent;
            transition: text-decoration-color .4s ease;
            &:hover {
                text-decoration-color: inherit;
            }
        }
    }
}