/* IMAGE STYLING */
picture {
    position: relative;
    display: block;
    line-height: 0;
    height: 0;
    img {
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.bg-cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.width-cover {
    width: 100%;
    height: 100%;
}
.width-cover img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.height-contain {
    width: 100%;
    height: 100%;
}
.height-contain img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
.parallax-img {
    width: 100%;
    height: 100%;
}
.parallax-img img {
    width: 100%;
    height: 120%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: -10%;
    @include media-breakpoint-down(md) {
        height: 100%;
        margin-top: 0;
    }
}
.reveal-image {
    overflow: hidden;
}
.full-link-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 2;
    top: 0;
    left: 0;
}