[logo-default="light-text"]{
    .navigation{
        /*&:not(.menu-open){
            .logo{
                &._white{
                    &._text_white{
                        opacity: 1;
                        filter: unset;
                    }
                }
            }
        }*/
        .telephone-hover {
            color: white!important;
        }
    }

    .community{
        &--link {
            #community-text{
                path{
                    fill: white;
                }
            }
        }
    }
}



[logo-default="light-total"]{
    .navigation{
        /*&:not(.menu-open){
            .logo{
                &._white{
                    &._full_white{
                        opacity: 1;
                    }
                }
            }
        }*/
        .telephone-hover {
            color: white!important;
        }
    }
    .community--link {
        &.--light {
            #community-line {
                stroke: var(--white);
            }
        }
    }
}