.media-slider__slider{
    position: relative;
    margin-bottom: 100px;
   
    .media{
        &-item{
            width: 100%;

            &--video{
                position: relative;
                padding-top: 56.25%;
                width: 100%;
                video{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                } 
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 60px;
    }
}

