.paragraph {
    &.--background{
        padding: 30px;
        border-radius: 30px;

        p:nth-last-child(1){
            margin-bottom: 0;
        }

        @include media-breakpoint-down(md){
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
    h1 {
    }
    h2 {
        margin-bottom: 2.4rem;
    }
    h3 {
    }   
    h4 {
    }
    h5 {
    }
    h6 {
    }
    p {
        margin-bottom: 1rem;
        br {
           
        }
    }
    b {
        font-size: inherit;
        font-weight: 600;
        line-height: inherit;
        text-decoration: none;
        color: inherit;
    }
    &.line-height-active {
        p {
            line-height: inherit;
            font-weight: 400;
        }
    }

    a{
        line-height: inherit;
        color: var(--blue);
        font-size: inherit;
        font-weight: 600;
        text-decoration: underline 2px transparent;
        transition: text-decoration-color .4s ease;
        &:hover {
            text-decoration-color: inherit;
        }
    }

    ul{
        list-style: none;
        padding-left: 34px;

        li{
            position: relative;
        
            &:before{
                content: '';
                position: absolute;
                left: -34px;
                top: 8px;
                height: 12px;
                width: 12px;
                border-radius: 100%;
                background-color: var(--dark-blue);
            }
        }


    }
}
.intro-text {
    font-size: 1.5rem;
    line-height: 1.58;
    letter-spacing: -.24px;
    p {
        font-size: 1.5rem;
        line-height: 1.58;
        letter-spacing: -.24px;
    }
    a {
        font-size: inherit;
        font-weight: 600;
        color: inherit;
        line-height: inherit;
        text-decoration: underline 2px transparent;
        transition: text-decoration-color .4s ease;
        &:hover {
            text-decoration-color: inherit;
        }
    }
    &.type_2 {
        p {
            font-size: 1.75rem;
            line-height: 1.42;
            letter-spacing: -.28px;
        }
    }
}