.plate--container {
    padding-left: 9%;
    padding-right: 9%;
    max-width: none;
    @include media-breakpoint-down(lg) {
        padding-left: 30px;
        padding-right: 30px;
    }
}


.plate--page-content-wrapper {
    overflow: hidden;
}
.plate--column {
    @include media-breakpoint-down(lg) {
        flex-basis: 100%;
        max-width: 100%;
    }

    padding-left: 15px;
    padding-right: 15px;
}

.plate--row{
    margin-right: -15px;
    margin-left: -15px;
}
.render-content {
    position: relative;
    &.hide-content{
        display: none;
    }
}
.section-container {
    position: relative;
    &.fullwidth {
        overflow: hidden;
        .plate--container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &.indent {
        .plate--container {
            padding-left: 12%;
            padding-right: 12%;
            @include media-breakpoint-down(lg) {
                padding-left: 60px;
                padding-right: 60px;
            }
        }
    }
    &.has-bg {
        &::before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: inherit;
            position: absolute;
            top: -1px;
            z-index: 0;
        }
    }

    &-sides{
        position: relative;
        &-side{
            width: 50%;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
            &.section-image{
                width: 47%;
                border-radius: 0 30px 30px 0;
                overflow: hidden;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    border-radius: 0 0 0 0;
                }
            }
            &.section-content{
                width: 53%;
                padding-top: 50px;
                padding-bottom: 50px;
                padding-right: 9%;
                padding-left: 100px;

                h2{
                    margin-bottom: 30px;
                }

                .button{
                    margin-top: 35px;
                }

                @include media-breakpoint-down(md) {
                    width: 100%;
                    padding-right: 30px;
                    padding-left: 30px;
                }
            }
        }
    }
}