.sliding-tabs {
    position: relative;
    width: 100%;
    &__content {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__tabs {
            position: relative;
            width: 300px;
            min-height: 100%;
            height: min-content;
            
            .sliding-tabs__item {
                position: relative!important;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 16px;
                padding-bottom: 16px;
               
               

                &:nth-last-child(1){
                    .sliding-tabs__item__title{
                        &::after, &::before{
                            display: none;
                        }
                    }
                }
                &__title {
                    position: relative;
                    p {
                        margin-bottom: 0;
                        transition: all .3s ease-in-out;
                        font-weight: 300;
                        opacity: .5;
                    }

                    .counter{
                        height: 45px;
                        width: 45px;
                        border-radius: 100%;
                        background-color: var(--grey);
                        margin-right: 15px;
                        transition: all .3s ease-in-out;
                        p{
                            opacity: 1;
                        }
                    }

                    &::before,
                    &::after {
                        content: '';
                        height: 4px;
                        width: 2px;
                        border-radius: 2px;
                        background-color: var(--dark-blue);
                        position: absolute;
                        bottom: -14px;
                        left: 22.5px;
                        transform: translateX(-50%);
                    }
                    &::after{
                        bottom: -22px;
                    }       
                    
                }
                &:first-child {
                    padding-top: 0;
                }
                &.active {
                    .sliding-tabs__item__title {
                        .counter{
                            background: var(--gradient);

                            p{
                                color: white;
                            }
                        }
                        p {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__text {
            position: relative;
            width: calc(100% - 300px);
            transition: height 0.6s cubic-bezier(.165,.84,.44,1);
            overflow: hidden;
            padding-left: 8%;
            &__wrapper {
                position: absolute;

                .sliding-tabs__content__item{
                    padding-right: 30%;

                    .button{
                        margin-top: 45px;
                    }

                    @include media-breakpoint-down(md){
                        padding-right: 0%;
                    }
                }
                opacity: 0;
                transform: translateY(10%) translateZ(0);
                transition: opacity .4s cubic-bezier(.165,.84,.44,1), transform 0.8s cubic-bezier(.165,.84,.44,1) .4s;
                &.active {
                    transform: translateZ(0);
                    opacity: 1;
                    transition-delay: .4s;
                    z-index: 2;
                }

                h5{
                    p, p span{
                        font-size: 1.5rem;
                        line-height: 1.2;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        &__content {
            flex-direction: column;
            &__tabs {
                width: 100%;
                margin-bottom: 30px;
            }
            &__text {
                width: 100%;
                padding-left: 0;
            }
        }
    }
}
