.testimonials{
    &--top{
        position: relative;
        margin-bottom: 40px;
        flex-wrap: wrap;
        h2{
            max-width: 50%;
            margin-bottom: 0;
            @include media-breakpoint-down(md){
                max-width: unset;
                width: 100%;
                margin-bottom: 60px;
            }
        }
    }
    &--bottom{
        flex-wrap: wrap;
    }
    .review-slider__side {
        &.--content{
            .height-contain {
                margin-bottom: 30px;
                        margin-top: 30px;
                img{
                    object-position: left;
                }
            }
        }
    }
}

.readmore{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: var(--blue);
    margin-top: 40px;

    svg{
        margin-left: 15px;
    }

    &.jc-start{
        margin-top: 23px;
    }

    &--button, &--button:hover{
        text-decoration: none;
    }
}