.title-element{
    position: relative;
    margin-bottom: 80px;
    @include media-breakpoint-down(md){
        margin-bottom: 40px;
    }
    &.offset-top{
        margin-top: 100px;
        @include media-breakpoint-down(md){
            margin-top: 40px;
        }
    }
    h2, p{
        margin-bottom: 0;
    }
    &-title {
        width: 41%;
        @include media-breakpoint-down(md){
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &-description {
        width: 33%;
        @include media-breakpoint-down(md){
            width: 100%;
        }
    }
}

.link-square{
    padding-right: 30px;
}

.service {
    &-category{
        position: relative;
        text-decoration: none;
        border-bottom: 1px solid black;
        margin-bottom: 30px;
        height: 100%;
        transition: all .3s ease-in-out;

        &:hover{
            text-decoration: none;
            border-color: white;
        }
        h5{
            color: black;
            padding-bottom: 10px;
            margin-bottom: 0px;
        }
    }
    &-item{
        position: relative;
        padding-bottom: 100%;
        background-color: rgba(255, 255, 255, 0.25);
        border-radius: 15px;
        transition: all .3s ease-in-out;

        &:hover{
            background-color: white;
        }

        &--content{
            position: absolute;
            padding: 25px 25px 20px;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-flow: column;

            &-link{
                margin-top: auto;
                margin-left: auto;
            }
        }
    }
}

.tab{
    &--button{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 7px;
        border-bottom: 1px solid transparent;
        background-color: transparent;
        outline: none;
        border: none;
        margin-right: 30px;
        opacity: .5;
        margin-bottom: 45px;

        @include media-breakpoint-down(md){
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
            margin-bottom: 30px;
        }

        h4{
            margin-bottom: 0;
        }
        
        &.--active{
            border-bottom: 1px solid black;
            opacity: 1;
        }
    }

    &-wrapper{
        position: relative;
    }
}
#products{
    opacity: 0;
    visibility: hidden;
    height: 0px;
    transition: opacity .3s ease-in-out;
    
    &.--active{
        height: auto;
        visibility: visible;
        opacity: 1;
    }
}