$swiper-theme-color: #007AFF;
$swiper-preloader-color: #007AFF;
$swiper-navigation-color: white;
$swiper-pagination-color: white;
$swiper-navigation-size: 44px;
$themeColor: #0A87F9;

/* GENERAL STYLING */
:root {
    --white: #FFFFFF;
    --white-light: rgba(255, 255, 255, 0.1);
    --black: #000000;
    --dark-blue: #000349;
    --dark-blue-light: rgba(0, 2, 73, 0.5);
    --green: #008375;
    --green-light: rgba(0, 131, 118, 0.1);
    --blue: #0A87F9;
    --yellow: #F7BA0A;
    --grey: #EEEEEE;
    --grey-light: #FAFAFA;
    --purple: #4E469E;
    --purple-light: rgba(78,70,158,.1);
    --gradient: linear-gradient(310deg, rgba(0,112,245,1) 0%, rgba(25,171,255,1) 65%, rgba(25,171,255,1) 100%);
    --gradient-dark: linear-gradient(180deg, rgba(0, 0, 0, 0.342) 0%, transparent 90%, transparent 100%);
    --light-gradient: linear-gradient(310deg, rgba(0,112,245,0.1) 0%, rgba(25,171,255,0.1) 65%, rgba(25,171,255,0.1) 100%);
    --swiper-theme-color: $themeColor;
}

/* GENERAL LIBS */
@import "./functions"; 
@import "libs/lib-general/**/*.scss";
@import "elements/**/*.scss";
@import "trays/**/*.scss";
@import "libs/lib-swiper/swiper.scss";
@import "libs/flag-icon-css/flag-icons.scss";
@import "../../../config/node_modules/locomotive-scroll/dist/locomotive-scroll.min.css";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1400px
);

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p:empty{
    display: none;
    margin-bottom: 0;
}
html {
    scroll-behavior: smooth;
    @include media-breakpoint-down(md) {
        height: -webkit-fill-available;
        .cursor{
            display: none;
        }
        .plate--column{
            min-height: unset;
        }
    }
}
body {
    color: var(--dark-blue);
    &.lock-scroll {
        overflow: hidden;
        .navbar-collapse{
            transform: translateX(0);
        }
        .navigation{
            .navbar-toggler{
                .bars{
                    .bar{
                        background: white;
                        &-1{
                            transform: translateX(9px) rotate(45deg) translateY(13px);
                        }
        
                        &-2{
                            opacity: 0;
                            transform: scale(0);
                        }
                        &-3{
                            transform: translateX(9px) rotate(-45deg) translateY(-13px);
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        height: 100vh;
        height: -webkit-fill-available;
    }
}
html, body {
    width: 100%;
    height: 100vh;
}
main {
    
    &.leave {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        
    }
    &.come {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        &-lower {
            z-index: 1;
        }
    }
}

.--nomargin{
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}


.config-mode {
    .plate--page-content-wrapper {
        overflow: hidden;
    }
    .steps-circle {
        &__circle {
            transform: none!important;
        }
        .pin-spacer {
            max-height: 100vh;
            padding: 0!important;
        }
    }
    [data-scroll] {
        transform: none!important;
    }
}

.load-container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark-blue);
    z-index: 1000;
    top: 0;
    left: 0;
}

.main{
    &-content{
        position: relative;
        width: 100%;
       
        &-wrapper{
            overflow-x: hidden;
            position: relative;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &.--theme-light{
            .post-header{
                &::after{
                    position: absolute;
                    content: "";
                    height: 65%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: var(--gradient-dark);
                    opacity: 1;
                }
            }
        }
       
        &[data-theme="dark"]{
            background-color: var(--blue);
            
            .main-content-wrapper{
                padding-top: 121px;
                @include media-breakpoint-down(lg) {
                    padding-top: 60px;
                }
            }
        }

        .o-scroll{
            width: 100%;
      
        }
    }

    &-alerts{
        height: 100vh;
        position: fixed;
        right: 0;
        transform: translateX(100%);
        z-index: 111;
        transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
        @include media-breakpoint-down(lg) {
            align-items: flex-end;
            flex-direction: column-reverse;
            height: auto;
            bottom: 0;
        }
        &.--active{
            transform: translateX(96px);
            @include media-breakpoint-down(lg) {
                transform: translateX(0);

                .main-alerts--bar{
                    transform: translateX(0);
                }
            }
        }
        &--bar{
            transform: translateX(-96px);
            width: 96px;
            height: 100%;
            background: var(--dark-blue);
            @include media-breakpoint-down(lg) {
                transform: translateX(-100%);
                width: 100vw;
                height: 80px;
                margin-bottom: 0vh;
                flex-flow: row nowrap;
            }
        }

        &--alert{
            position: relative;
            width: 100%;
            padding-bottom: 45px;
            padding-top: 20px;
            background: var(--dark-blue);
            cursor: pointer;
            @include media-breakpoint-down(lg) {
                width: 60px;
                padding-top: 10px;
                padding-bottom: 12px;
            }
            p{
                color: white;
                padding-bottom: 25px;
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }

            svg{
                transform: translateX(5px);
            }

        }

        &--form{
            transform: translateX(-96px);
            width: 40vw; 
            padding: 60px 55px;
            @include media-breakpoint-down(lg) {
                width: 100vw;
                transform: translateX(0%);
            }

            &.--employer-form{
                background-color: var(--green);
            }
            
            &.--freelancer-form{
                background-color: var(--dark-blue);
            }

            .alert--icon{
                position: absolute;
                top: 60px;
                right: 50px;
            }

            h2{
                color: white;
                margin-bottom: 40px;
            }
            .form-group{
                .form-field-container{
                    .form-field{
                        label{
                            color: #ffffff;
                        }
                        &__input, &__select, &__textarea {
                            background-color: var(--white-light);
                            color: white;
    
                            &::placeholder{
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        &--switch{
            position: relative;
            
            height: 100%;
            background-color: var(--dark-blue);
            @include media-breakpoint-down(lg) {
                flex-direction: row;
                width: calc(100% - 60px);
                
            }

            @include media-breakpoint-down(md) {
                span{
                    display: none;
                }

                text-transform: capitalize; 
            }

            p{
                color: white;
                padding-bottom: 27px;
                padding-top: 27px;
                position: relative;
                z-index: 1;
            }

            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50%;
                background: transparent linear-gradient(316deg, rgba(0, 131, 117, 0.482) 0%, rgba(0, 131, 117, 0) 100%) 0% 0% no-repeat padding-box;
                @include media-breakpoint-down(lg) {
                    height: 100%;
                }
            }

            .alert-switch{
                height: 66px;
                width: 36px;
                border-radius: 30px;
                position: relative;
                z-index: 1;
                padding: 3px;

                @include media-breakpoint-down(lg) {
                    height: 36px;
                    width: 66px;
                    margin-left: 17px;
                    margin-right: 17px;
                }

                &-ball{
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    background-color: var(--dark-blue);
                    transition: all .3s ease-in-out;
                }
                &.--freelancer{
                    background: var(--dark-blue);
                    &:hover{
                        .alert-switch-ball{
                            transform: translateY(25%);
                            @include media-breakpoint-down(lg) {
                                transform: translateX(25%);
                            }
                        }
                    }
                }

                &.--employer{
                    background: var(--green);

                    .alert-switch-ball{
                        transform: translateY(100%);
                        @include media-breakpoint-down(lg) {
                            transform: translateX(100%);
                        }
                    }

                    &:hover{
                        .alert-switch-ball{
                            transform: translateY(75%);
                            @include media-breakpoint-down(lg) {
                                transform: translateX(75%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.--rotate{
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    @include media-breakpoint-down(lg) {
        -ms-writing-mode: unset;
        writing-mode: unset;
    }
}

body{
    * {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}



/* NAVIGATION STYLING */
.lock-scroll{
    .navigation .navbar-top {
        @include media-breakpoint-down(lg) {
            width: 100%;
            z-index: 112;
            background-color: var(--white-light);
        }
    }

    .navigation{
        .navbar-brand-wrapper .logo{
            display: none;
            &.--white{
                display: block;
            }
        }

        .nav-item .nav-link{
            color: white;
        }
    }

  
}

.error--page{
    p{
        color: var(--blue);
    }
    svg{
        position: absolute;
        transform: translateY(-31px) translateX(25px) rotate(72deg);
        path{
            fill: var(--blue);
        }
    }
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 110;
    transition: transform .2s ease, background-color .2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;


    @include media-breakpoint-down(lg) {
        width: 100%;
        z-index: 112;
        max-width: 100vw;
    }

    &.--light-nav{
        .nav-item {
            &.active{
                a{
                    color: var(--blue);
                }
            }
            .nav-link{
                color: white;
            }
        }
        .navbar-brand-wrapper .logo{
            display: none;
            &.--white{
                display: block;
            }
        }

        .navbar-toggler .bars{
            .bar{
                background-color: white;
            }
        }

    }

    .navbar {
        position: relative;
        width: 100%;
        padding-top: 45px;
        padding-bottom: 45px;
        transition: padding-top .3s ease-in, padding-bottom .3s ease-in;
    }
    .navbar-inner {
        width: 100%;
        height: 100%;

        @include media-breakpoint-down(lg) {
            .navbar-brand-wrapper{
                z-index: 111;
            }
        }
    }
    .navbar-brand-wrapper {
        .navbar-brand {
            position: relative;
            height: 60px;
            width: 250px;
            @include media-breakpoint-down(sm) {
                width: 160px;
                height: 40px;
            }
        
        }
        .logo {
            height: 100%;
            width: 100%;
            transition: all .25s linear;
            position: absolute;
            left: 0;
            top: 0;
            &.--white {
                display: none;
            }
        }
    }

    .navbar-toggler {
        z-index: 100;
        padding: 0;
        border: 0;
        width: 33px;
        height: 33px;
        position: relative;
        cursor: pointer;
        margin-left: auto;
        display: none;
        background-color: red;
        background-color: transparent;
        @include media-breakpoint-down(lg) {
            display: block;
        }
       
        .bars {
            position: relative;
            height: auto;
            width: 100%;
        
            .bar {
                width: 100%;
                height: 1px;
                background: var(--dark-blue);
                margin-bottom: 8px;
                -webkit-transition: all .15s linear;
                -moz-transition: all .15s linear;
                -ms-transition: all .15s linear;
                -o-transition: all .15s linear;
                transition: all .15s linear;

                &-3{
                    margin-bottom: 0;
                }
            }
        }
    
        &:focus {
            outline: none;
        }
        
    }
    &.--light {
        .navbar-brand-wrapper {
            .logo {
                &:not(._white) {
                    opacity: 0;
                }
                &._full_white {
                    opacity: 1;
                }
            }
        }
    }
    
    &.fixed-header:not(.nav-top){
        background-color: white;
        .navbar{
            padding-top: 10px;
            padding-bottom: 10px;
            box-shadow: 10px 10px 10px rgba(66, 64, 64, 0.051);
        }

        .navbar-brand-wrapper .navbar-brand{
            width: 165px;
            height: 40px;
            .logo{
                display: block;
                &.--white{
                    display: none;
                }
            }
        }

        @include media-breakpoint-up(xl) {            
            .nav-item {
                &.active{
                    a.nav-link{
                        color: var(--blue);
                        opacity: 1;
                    }
                }
                .nav-link{
                    color: var(--dark-blue);
                }
            }
        }
    }

   
}
.navbar-collapse {
    @include media-breakpoint-down(lg) {
        height: 100vh;
        width: 100vw;
        background: var(--blue);
        top: 0;
        left: 0;
        position: fixed;
        transform: translateX(100%);
        transition: all .3s ease-in-out;
        padding-left:30px;
        padding-right: 30px;
    }

    .navbar-nav {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        .button{
            margin-left: 15px;
            @include media-breakpoint-down(lg) {
                margin-left: 0;
                margin-top: 30px;
            }
        }
        @include media-breakpoint-down(lg) {
            flex-flow: column nowrap;
            align-items: flex-start;
            padding-right: 0;
            padding-top: 150px;
        }
    }    
}

.nav-item {
    &.active{
        a{
            color: var(--blue);
            @include media-breakpoint-down(lg) {
                color: var(--dark-blue)!important;
            }
        }
    }
    position: relative;
    @include media-breakpoint-down(lg) {
        &.active{
            a.nav-link{
                color: var(--dark-blue);
            }
        }
        overflow: hidden;
        .indicator{
            display: none;       
        }
    }
    .nav-link {
        position: relative;
        color: var(--dark-blue);
        line-height: 4.563rem;
        text-decoration: none;
        transition: opacity .5s ease;
        padding: 0px 15px;

        @include media-breakpoint-down(lg) {
            font-size: 32px;
            line-height: 1.6;
            text-align: center;
            display: inline-block;
            padding: 0;
        }
    }

    &.active{
        .indicator{
            position: absolute;
            bottom: -1px;
            left: 50%;
            height: 14px;
            width: 14px;
            transform: translate(-50%, 50%);
            border-radius: 100%;
            background: var(--dark-blue);
            border: 2px solid var(--white);
        }
    }

  

    &:nth-child(1){
        .indicator{
            transform: translate(calc(-50% - 8px), 50%);
        }
        .nav-link{
            padding-left: 0;
        }
    }
    &.dropdown {
        overflow: visible;
        .dropdown-arrow {
            position: relative;
            display: none;
            transform: rotate(90deg);
            top: -3px;
            margin-left: 8px;
            cursor: pointer;
            &.active {
                transform: rotate(-90deg);
                transition: transform 0.6s cubic-bezier(0.905, 0.025, 0.145, 1);
            }
        }
        .dropdown-menu {
            position: absolute;
            width: 200px;
            text-align: left;
            top: 100%;
            left: 0;
            display: flex;
            flex-direction: column;
            visibility: hidden;
            opacity: 0;
            padding: 8px 20px;
            transition: visibility .5s ease, opacity .5s ease;
            .dropdown-item {
                color: var(--white-transparent-5);
                line-height: 1.125rem;
                text-decoration: none;
                margin-bottom: 12px;
                transition: color .5s ease, transform .8s cubic-bezier(.905,.025,.145,1), opacity .8s cubic-bezier(.905,.025,.145,1);
                transform: translateY(20px);
                opacity: 0;
                &:hover {
                    color: var(--white);
                }
            }
        }
    }
}


.button {
    position: relative;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s cubic-bezier(.77, 0, .175, 1);
    border: 0;
    padding: 0;
    background: var(--gradient);
    border-radius: 15px;
    min-width: 132px;
    color: white;

    &.file-drop{ 
        width: 100%;
        margin-left: 27px;
    }
    &:focus {
        outline: none;
    }
    a {
        line-height: 50px;
        font-size: 1.25rem;
        color: inherit;
        padding-left: 30px;
        padding-right: 30px;
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        color: var(--white);
    }
    &.whitespace {
        margin-top: 48px;
        @include media-breakpoint-down(sm) {
            margin-top: 28px;
        }
    }
    &.white {
        background: white;

        a{
            color: var(--blue);
        }
    }
    &:hover {
        opacity: .7;
    }

    &.--right{
        margin-left: auto;
        @include media-breakpoint-down(lg) {
            margin-left: 0;
        }
    }

    &.--center{
        margin-right: auto;
        margin-left: auto;
    }
}

.logo-slider {
    &__title {
        margin-bottom: 60px;
        @include media-breakpoint-down(lg){
            margin-bottom: 40px;
        }
        h2 {
            text-align: center;
        }
    }
    &__logos {
        position: relative;
        width: 100%;

        .swiper-wrapper{
            transition-timing-function: linear;
        }
        &__row {
            display: flex!important;
            flex-direction: row!important;
            justify-content: center!important;
            @include media-breakpoint-down(md){
                flex-wrap: wrap;
                width: calc(100% - 60px);
                margin-left: 30px;
            }
        }
    }
    &__logo {
        position: relative;
        flex-shrink: 0;
      
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px 90px;
        width: auto;
        opacity: .5;
        transition: all .3s ease-in-out;
        filter: grayscale(2) brightness(0) invert(1);

        &:hover{
            opacity: 1;
        }

        @include media-breakpoint-down(md){
            width: calc(100% / 4);
            height: 100px;
            margin: 0px 20px;
        }
        img {
            max-width: 160px;
            width: 100%;
            max-height: 100%;
        }
    }
}


.category {
    height: 40px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 17px;
    margin-right: 15px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 20px;
    span {
        font-weight: 400;
        color: var(--white);
    }
}
.footer-tray {
    position: relative;
}

.review{
    padding-top: 270px;
    overflow: hidden;
    border-radius: 30px 30px 30px 0;
    position: relative;
    .height-absolute{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding-bottom: 0!important;

        img{
            height: 100%;
            object-fit: cover;
        }
    }

    &-block{
        width: 100%;
        max-width: 50%;
        background-color: white;
        padding: 60px 70px 0 0;
        border-radius: 0 30px 0 0;
    }

    &-person{
        &.team-item{
            top: 0!important;
            width: 100%;
            margin-top: 45px;
            margin-bottom: 0;
        }
    }

    

    .team-item__image{
        width: 42px;
        height: 42px;
        margin-right: 10px;
    }

    .team-item__content p{
        line-height: 1.4rem;
    }
}

.review-block{
    position: relative;
}
.vacancy-slider{
    width: 100%;
}

.social-media {
    position: relative;
    &__icons {
        display: flex;
        flex-direction: row;
        align-items: center;

        path{
            fill: var(--dark-blue)
        }
    }
    &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 30px;
        border-radius: 0;
        svg {
            height: 18px;
            width: 18px;
            z-index: 1;
        }

        &:nth-last-child(1){
            margin-right: 0;
        }
        &:hover {
            &::before {
                
                transform: scale(1.1);
            }
        }
    }
}
.cta {
    position: relative;
    height: auto;
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    float: right;
    background: var(--gradient);

    @include media-breakpoint-down(lg) {
        height: auto;
        min-height: auto;  
        width: 100%;  
        padding: 30px;
        margin-bottom: 30px;
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin: 0 auto;
    }
    &__content {
        p {
            color: var(--white);
            text-align: center;
            font-weight: 500;
        }
    }

    &__button {
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
            flex-direction: column;
        }

        .button{
            margin-right: 15px;
            @include media-breakpoint-down(sm) {
                margin-right: 0;
            }
        }

        .button--wrapper{
            &:nth-last-child(1){
                .button{
                    margin-right: 0;
                    @include media-breakpoint-down(sm) {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .contact-form{
        @include media-breakpoint-up(lg) {
            max-width: 50%;
        }
        .button{
            --btn-border: white;
            --btn-background: white;
            a{
                color: var(--dark-blue);
            }
            &:hover {
                opacity: .6;
            }
        }
    }
}

.filter-{
    overflow-x: scroll;
    justify-content: flex-start;
    height: auto;
    padding-bottom: 10px;

    .branche-category{
        background: white;
        margin-right: 60px;
        transition: all .5s ease;

        .filter-button {
            color: var(--dark-blue)!important; 
        }
        &.active{
            background: var(--gradient);
            .filter-button {
                color: white!important; 
            }
        }
    }
}
.filter-button {
    background-color: transparent;
    appearance: none;
    border: 0;
    padding: 0;
    white-space: nowrap;
    transition: all .5s ease;
    font-weight: normal;
}

.page-slider__content{
    .filter-content{
        p {
            margin-bottom: 15px;
            font-weight: normal;
        }
    }
}
.related{
    position: relative;
    padding-top: 95px;
    padding-bottom: 0px;

    @include media-breakpoint-down(md){
        padding-top: 40px;
        padding-bottom: 40px;
        .vacancy-top{
            flex-flow: column;
            align-items: flex-start;
            justify-content: flex-start;
            h2{
                width: 100%;
                margin-bottom: 30px;
            }
        }
    }
}

.items-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    &.__3n {
        .inspiration-item {
            width: calc(1 / 3 * 100% - 4%);
            margin-right: 2%;
            margin-left: 2%;
            margin-bottom: 4%;
            
            @include media-breakpoint-down(lg){
                width: 46%;
            }
            @include media-breakpoint-down(sm){
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
    }
    .case-item {
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    &.masonry {
        margin-left: -2%;
        margin-right: -2%;
        width: 104%;
        @include media-breakpoint-down(sm){
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &.fade-out {
        .inspiration-item {
            opacity: 0;
        }
    }
}


.load-more {
    left: 50%;
    transform: translateX(-50%);
    &.hide-btn {
        opacity: 0;
        visibility: hidden;
    }
}

.marquee-wrapper {
    max-width: 100vw;
    overflow: hidden;
    display: block;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50vw);
    &-inner{
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        animation: marquee 70s linear infinite;
        @include media-breakpoint-down(sm){
            animation: marquee 100s linear infinite;
        }
    }


    h2{
        display: inline-block;
        span{
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}      
  
@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

picture{
    &.height-absolute{
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}

.post-header{
    &.--show{
        padding-top: 225px;
        padding-bottom: 110px;
        position: relative;
        overflow: hidden;
        margin-bottom: 100px;
        background-color: var(--dark-blue);
        @include media-breakpoint-down(sm){
            padding-top: 150px;
            padding-bottom: 45px;
        }
        .height-absolute{
            position: absolute;
            width: 100%;
            left: 0;
            height: 100%;
            pointer-events: none;
            padding-bottom: 0!important;
            top: 0;
        }

        h2{
            color: white;
        }

        .page-slider__content_bottom{
            *{
                color: white;
            }
        }

        .page-slider__content{
            padding-bottom: 0;
        }

        &.--invert{
            background-color: white;
            padding-bottom: 20px;
            h2{
                color: var(--dark-blue);
            }

            .page-slider__content_bottom{
                *{
                    color: var(--dark-blue);
                }
            }
        }
    }
}

.page-slider {
    &__inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__slider{
        .swiper-slide{
            min-height: 85vh;

            @include media-breakpoint-down(md){
                min-height: 65vh;
            }
        }

        picture{
            position: absolute;
            width: 100%;
            left: 0;
            height: 100%;
            pointer-events: none;
            padding-bottom: 0!important;
        } 
    }

    &__content{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 100px;
        z-index: 1;

      
        h1{
            color: white;
        }
        &_bottom{
            width: 70%;
            margin-top: 40px;
            p {
                margin-bottom: 0;
            }

            &-reverse{
                &.page-slider__content_bottom{
                    @include media-breakpoint-down(md){
                        flex-direction: column-reverse; 
                    }
                }
            }

            @include media-breakpoint-down(md){
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
            }

            p{
                &.page-slider__content_bottom--subtitle{
                    @include media-breakpoint-down(md){
                        margin-bottom: 40px;
                        margin-left: auto;
                        margin-right: 30px;
                    }
                }
            }
          
        }
        h2{
            font-size: 150px;
            margin-bottom: 0;
            text-align: center;
            font-weight: bold;
            color: var(--dark-blue);
            position: relative;
            line-height: 170px;

            @include media-breakpoint-down(md){
                font-size: 75px;
                line-height: 85px;
            }

            span {
                font-size: inherit;
                margin-bottom: inherit;
                text-align: inherit;
                font-weight: inherit;
                color:inherit;
                position: inherit;
                line-height: inherit;
            }
        }
    }
}

/* projects */
.index-content{
    padding-top: 60px;
    padding-bottom: 60px;
}

.result-filter{
    h3{
        margin-bottom: 14px;   
    }
    ul{
        padding-left: 0;
        list-style: none;
    }
    .category-item{
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 1px;
        opacity: 0;
        visibility: hidden;
    }
    .category-item.active:checked + label {
        color: var(--blue);
    }
}

.result{
    .pagination{
        .button {
            height: 44px;
            a{
                padding-left: 18px;
                padding-right: 18px;;
            }
        }
    }

   
    .items-container{
        position: relative;
        padding-top: 0px;
        padding-bottom: 125px;
        width: 100%;

        @include media-breakpoint-down(md) {
            padding-bottom: 50px;
        }

        .items{
            &:after{
                content: '';
                height: 1px;
                width: calc(1 / 3 * 100% - (60px / 3));
                position: relative;
            }
        }
    }
}

.items{
    width: 100%;
}

.vacancy_item{
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: white;

    &__content{
        padding: 56px 56px 50px 56px;
        @include media-breakpoint-down(md){
            padding: 30px 30px 25px 30px;
        } 
        background-color: var(--white);
        margin-bottom: 1px;
        h3{
            margin-bottom: 34px;
        }
    }

    &__link{
        padding: 35px 33px 40px 56px;
        background-color: var(--white);
        margin-top: 1px;
        margin-top: auto;
        border-top: 1px solid var(--grey);
        @include media-breakpoint-down(md){
            padding: 20px 30px 20px 30px;;
        } 
    }

    &__salary {
        @include media-breakpoint-down(md){
            width: 100%;
            margin-left: 0;
        } 
    }

    &__hours{
        margin-right: 32px;
        @include media-breakpoint-down(md){
            width: 100%;
            margin-bottom: 18px;
        } 
    }
}

.vacancy{
    &-top{
        padding-bottom: 50px;
    }
    &--header{
        padding-bottom: 75px;
        @include media-breakpoint-down(md){
            padding-bottom: 40px;
        }
        .--icon{
            margin-left: 32px;

            &:nth-child(1){
                margin-left: 0;
            }

            &:nth-last-child(1){
                margin-bottom: 0;
            }

            @include media-breakpoint-down(md){
                margin-left: 0;
                margin-bottom: 18px;
            }
        }
    }
}

/* REVIEWS */
.review-slider{
    position: relative;

    &__item{
        width: calc(100% / 2 - 15px);
        height: auto;
        position: relative;

        @include media-breakpoint-down(md){
            width: 100%;
            &:nth-child(1){
                margin-bottom: 40px;
            }
        }
    }

    &__person {
        @include media-breakpoint-down(md){
            .swiper-pagination{
                margin-top: 40px;
                text-align: left;
            }
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__side{
        height: auto;

        @include media-breakpoint-down(md){
            width: 100%;
            min-height: unset;
        }
        

        &.--left{
            padding-left: 9%;
            padding-right: 9%;
            padding-top: 55px;
            padding-bottom: 50px;

            @include media-breakpoint-down(md){
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            p{
                &.--auto-size{
                    color: var(--dark-blue);
                }
            }
        }
    }

    .swiper{
        &-pagination{
            position: relative;
            &-bullet{
                height: 9px;
                width: 9px;
                background-color: var(--dark-blue);
                margin-left: 0px;
                margin-right: 13px;
                opacity: .4;
                transition: all .3s ease-in-out;
                &-active{
                    opacity: 1;
                }
            }
        }
    }

    &.--employer{
        .review-slider{
            &__side{
                &.--left{
                    p{
                        &.--auto-size{
                            color: var(--dark-blue);
                        }
                    }
                }
            }
        }
        .swiper{
            &-pagination{
                &-bullet {
                    background-color: var(--green);
                }
            }
        }
    }
}


/* END -- REVIEWS */

.steps-summary {
    position: relative;
    margin-top: -51px;
    z-index: 1;
    color: var(--white);
    &__content {
        h2 {
            margin-bottom: 42px;
        }
        .intro-text {
            margin-bottom: 140px;
        }
    }
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 100px;
        width: 100%;
        &__index {
            width: 15%;
            padding-top: 142px;

            @include media-breakpoint-down(md){
                width: 100%;
                padding-top: 0px;
                margin-bottom: 40px;
            }

            span {
                color: var(--blue);
                font-size: 3.375rem;
                line-height: 1;
                font-weight: 300;
            }
        }
        &__content {
            width: 60%;
            @include media-breakpoint-down(md){
                width: 100%;
            }
        }
        &__links {
            width: 20%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 237px;
            padding-right: 2%;
            .link {
                margin-bottom: 1px;
                a {
                    color: var(--white);
                    font-weight: 400;
                }
            }

    
            @include media-breakpoint-down(md){
                width: 100%;
                padding-top: 40px;
                align-items: flex-start;
            }
        }
        &__triangle {
            margin-bottom: 32px;

        }
        &__title {
            margin-bottom: 30px;
        }
        &__text {
            line-height: 1.66;
        }
        &.--culture {
            .steps-summary__item__index {
                position: relative;
                padding-top: 0;
                span {
                    color: var(--white);
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 40%;
                }
            }
            .steps-summary__item__triangle {
                svg {
                    path {
                        fill: var(--blue);
                    }
                }
            }
        }
    }
}
.triangle-top {
    position: absolute;
    top: -235px;
    transform: translateY(-40%);
    left: 40%;
    @include media-breakpoint-down(sm) {
        left: 30%;
        top: -195px;
        svg {
            width: 400px;
        }
    }
}

.contact{
    max-width: 320px;
    h3{
        margin-bottom: 35px;
    }
}

.apply--form{
    padding-top: 50px;
    padding-bottom: 55px;

    .contact{
        max-width: 320px;
        margin-top: auto;

        h3{
            margin-bottom: 35px;
        }
    }

    &.--margin{
        margin-top: 210px;   
    }
    &.--employer{
        background-color: var(--grey);
        h2{
            color: var(--green);
        }
        
        .form-field-container{
            .form-field{
                label{
                    color: var(--green);
                }
                &__input, &__select, &__textarea {
                    background-color: var(--white);
                    color: var(--green);

                    &::placeholder{
                        color: var(--green);
                    }
                }
            }
        }
    }

    &.--freelancer{
        background-color: var(--dark-blue);
        h2, h3, h4, p{
            color: var(--white);
        }

        .form-field-container{
            .form-field{
                label{
                    color: #ffffff;
                }
                &__input, &__select, &__textarea {
                    background-color: var(--white-light);
                    color: white;

                    &::placeholder{
                        color: white;
                    }
                }
            }
        }
       
       
    }
}

input[type=search] {
    -webkit-appearance: none;
}

.post--amount, .pagination{
    width: 100%;
}

.post--amount{
    p{
        margin-bottom: 25px;
    }
}

.pagination{
    margin-top: 55px;
    ul{
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        margin-left: 50px;
        margin-right: 50px;

        li{
            padding-left: 10px;
            padding-right: 10px;
            
            p{
                color: var(--dark-blue);
            }
        }
    }
}

.vacan {
    &--description {
        padding-top: 101px;
        padding-bottom: 87px;

        h2{
            color: var(--dark-blue);
        }
        @include media-breakpoint-down(md) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
}

.talentscout {
    position: relative;
    height: 100vh;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-color: var(--dark-blue);
    border: 16px solid white;
    border-radius: 50px;
    color: var(--white);
    @include media-breakpoint-down(lg) {
        /*overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {  
            display: none;
        }*/
    }
    @include media-breakpoint-down(md) {
        border: none;
        border-radius: 0;
    }
    
    &__inner {
        position: relative;
        height: 100%;
        padding-left: calc(9% - 16px);
        padding-right: calc(9% - 16px);
        padding-top: 70px;
        padding-bottom: 70px;
        
        @include media-breakpoint-down(md){
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    &__form {
        position: relative;
        height: 100%;
        &__fields {
            
            height: 100%!important;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            .form-group {
                &__title {
                    margin-bottom: 50px;
                    max-width: 600px;
                }
                &__fields {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    width: 80%;
                    @include media-breakpoint-down(lg){
                        width: 100%;
                        flex-wrap: wrap;
                    }
                }
                &__inputs {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 60%;
                    @include media-breakpoint-down(lg){
                        width: 100%;
                    }
                    &.no-textarea {
                        width: 100%;
                    }
                    .form-field-container {
                        position: relative;
                        margin-bottom: 16px;
                        width: calc(50% - 16px);
                        margin-right: 16px;
                        @include media-breakpoint-down(lg){
                            width: 100%;
                            margin-right: 0;
                        }
                        &.radio-container {
                            width: 100%;
                            .option-group {
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                            }
                        }
                        &.range-container {
                            width: 100%;
                        }
                    }
                }
                &__textareas {
                    width: 40%;
                    @include media-breakpoint-down(lg){
                        width: 100%;
                    }
                }
            }
        }
    }
    &__step {
        position: absolute;
        height: 100%;
        width: 100%;
        visibility: hidden;
        @include media-breakpoint-down(sm) {
            height: 90%;
        }
        &.--thanks-page {
            visibility: visible;
        }

        &.--form{
            @include media-breakpoint-down(lg){
                .talentscout__form__fields{
                    justify-content: flex-start;
                    height: auto!important;
                    padding-top: 100px;
                }

                .contact-form__button{
                    position: relative;
                    margin-top: 40px;
                    padding-bottom: 100px;
                }
            }
            @include media-breakpoint-down(md) {
                overflow-y: scroll;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    &__intro-button {
        height: 100%;
        text-align: center;
        &__wrapper {
            height: calc(100% - 58px);
            margin: 0 auto;
            max-width: 900px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                margin-bottom: 32px;
            }
        }

    }
    &__intro {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        h4 {
            font-size: 2rem;
            line-height: 1.3125;
            color: var(--green);
            max-width: 750px;
            text-align: center;
            @include media-breakpoint-down(md) {
                font-size: 1.5rem;
                line-height: 1.2;
            }
        }
    }
    &__tinder {
        position: relative;
        height: 100%;
        &__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            height: calc(100% - 58px);
            width: 50%;
            margin: 0 auto;
            @include media-breakpoint-down(md) {
                height: calc(100% - 88px);
            }
        }
        &__cards {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            background-color: #33404D;
            cursor: pointer;
            z-index: 95;
            svg {
                width: 18px;
                height: 18px;
            }
            @include media-breakpoint-down(md) {
                margin-top: auto;
            }
        }
        &__count {
            position: relative;
            z-index: 20;
            height: 58px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .category {
                background-color: #33404d;
            }
            span {
                font-weight: 400;
            }

            @include media-breakpoint-down(md) {
                margin-top: 30px;
            }
        }
        &__status {
            position: absolute!important;
            top: 50%;
            z-index: 90;
            width: 100%;
            text-align: center;
            pointer-events: none;
            svg {
                opacity: 0;
                transform: scale(0.3);
                transition: all .2s ease-in-out;
                position: absolute;
                width: 100px;
                height: 100px;
                margin-left: -50px;
            }
        }
        &.tinder_love {
            .talentscout__tinder__status {
                .check-icon {
                    opacity: 0.7;
                    transform: scale(1);
                }
            }
        }
        &.tinder_nope {
            .talentscout__tinder__status {
                .cross-icon {
                    opacity: 0.7;
                    transform: scale(1);
                }
            }
        }
        &.moving {
            .tinder-card {
                cursor: -webkit-grabbing;
                cursor: -moz-grabbing;
                cursor: grabbing;
            }
        }
    }
    .form-field {
        &__input,
        &__textarea,
        &__select {
            transition: none!important;
        }
        &.radio {
            .form-field__label {
                display: none;
            }
            .option-group {
                .option {
                    margin-right: 20px;
                    margin-bottom: 4px;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 11px;
                    }
                    label {
                        padding-left: 0;
                        padding-right: 0;

                      
                        input {
                            width: 100%;
                            height: 58px;
                            margin-right: 0;
                            flex-shrink: 0;
                            padding-left: 30px;
                            padding-right: 30px;
                            border: 2px solid #495561;
                            border-radius: 32px;
                            cursor: pointer;
                            transition: border .5s ease;
                            &::before {
                                display: none;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                background-color: var(--green);
                                border-radius: 24px;
                                opacity: 0;
                                transition: opacity .5s ease;
                            }
                            &:checked {
                                border: 2px solid var(--green);
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                        span {
                            position: relative;
                            white-space: nowrap;
                            margin-left: calc(-100% + 31px);
                            z-index: 0;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        &.checkbox {
            .form-field__label {
                display: none;
            }
        }
    }
    .contact-form__button {
        position: absolute;
        bottom: 0;
    }
    .form-errors {
        position: absolute;
        text-align: center;
        width: 100%;
    } 
}

.form-field-container .form-field.checkbox{
    opacity: 1;
}
.option{
    label{
        a{
            margin-right: 5px;
            margin-left: 5px;   
            text-decoration: underline;
            color: inherit;
            font-size: inherit;
        }
    }
}
.grecaptcha-badge {
    visibility: hidden;
}
.tinder-card {
    z-index: 2;
    position: absolute;
    width: 374px;
    height: 400px;
    transform-origin: 50% 100%;
    border-radius: 30px;
    border: 2px solid var(--green);
    background-color: var(--dark-blue);
    cursor: grab;
    user-select: none;
    opacity: 0;
    &__image {
        height: 202px;
        top: -3px;
        position: relative;
        pointer-events: none!important;
        img, video {
            object-fit: cover;
            width: calc(100% + 4px);
            left: -2px;
            height: 100%;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            position: relative!important;
            pointer-events: none;
        }
    }
    &__content {
        height: auto;
        padding: 20px 36px 36px 36px;
        pointer-events: none;
        h3 {
            font-size: 2.125rem;
        }
        p {
            margin-bottom: 0;
        }
    }
    &.below {
        z-index: 1;
    }
}
.tailormade {
    &__step {
        position: absolute;
        height: 100%;
        width: 100%;
        visibility: hidden;
        @include media-breakpoint-down(sm) {
            height: 90%;
        }
        &.first-step {
            .tailormade__step__content {
                @include media-breakpoint-down(sm) {
                    height: calc(100% - 88px);
                    margin-bottom: 0;
                }
            }
            .tailormade__step__bottom {
                justify-content: center;
                flex-direction: row!important;
            }
        }
        &__content {
            height: calc(100% - 58px);
            @include media-breakpoint-down(sm) {
                height: auto;
                margin-bottom: 40px;
            }
            .talentscout__intro-button__wrapper {
                height: 100%;
            }  
        }
        &__bottom {
            height: 58px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include media-breakpoint-down(sm) {
                flex-direction: column!important;
                align-items: flex-start;
                height: auto;
                .button {
                    margin-top: 20px;
                }
            }
        }
        &__indicator {
            display: flex;
            flex-direction: row;
            align-items: center;
            .indicator {
                position: relative;
                width: 10px;
                height: 10px;
                margin-right: 10px;
                border-radius: 50%;
                background-color: #7C8A99;
                &.active {
                    background-color: var(--white);
                }
            }
        }
        &.--form{
            @include media-breakpoint-down(lg){
                .talentscout__form__fields{
                    justify-content: flex-start;
                    height: auto!important;
                    margin-top: 100px;
                }

                .contact-form__button{
                    position: relative;
                    margin-top: 40px;
                    padding-bottom: 100px;
                }
            }
            @include media-breakpoint-down(md) {
                overflow-y: scroll;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    &__intro-button {
        height: 100%;
        text-align: center;
        &__wrapper {
            height: calc(100% - 58px);
            margin: 0 auto;
            max-width: 900px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                margin-bottom: 32px;
            }
        }

    }
}
.popup {
    display: none; 
    position: fixed;
    z-index: 100; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: transform .5s ease, opacity .5s ease;
    opacity: 0;
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        margin: auto;
        top: 50%;
        transform: translateY(-40%);
        transition: all .5s ease;
        max-width: 80%;
        @include media-breakpoint-down(sm) {
            max-width: unset;
        }
    }
    &__video {
        padding-top: 56.25%;
        height: 0;
        .video-element {
            position: absolute;
            top: 0;
            left: 0;
            &__inner {
                padding-top: 56.25%!important;
                width: calc(100% - 1px);
                background-color: var(--dark-blue);
            }
            &__thumbnail {
                display: none;
            }
        }
    }
    &__close {
        width: 30px;
        height: 30px;
        position: absolute!important;
        right: 30px;
        top: 25px;
        transform: rotate(45deg);
        cursor: pointer;
        &::before,
        &::after {
            content: '';
            background-color: var(--dark-blue);
            position: absolute;
            transition: background-color .5s ease;
        }
        &::before {
            width: 35px;
            height: 2px;
            top: 16px;
        }
        &::after {
            height: 35px;
            width: 2px;
            left: 16px;
        }
        &:hover {
            &::before,
            &::after {

            }
        }
    }
    &.is-visible {
        opacity: 1;
        .popup__inner {
            transform: translateY(-50%);
        }
    }
}
.video-element {
    --transition: all .5s ease;
    position: relative;
    width: 100%;
    overflow: hidden;
    &__inner {
        position: relative;
        padding-top: 56%;
        width: 100%;
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%;
        iframe,
        video {
            width: inherit;
            height: inherit;
        }
        video {
            display: none;
        }
        &.video--loaded {
            z-index: 2;
        }
    }
    &__thumbnail {
        position: absolute;
        width: 100%!important;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    &__placeholder {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            -o-object-fit: cover;
            transform: scale(1.05);
            transition: var(--transition);
        }
    }
    &__play {
        position: absolute;
        width: 100%!important;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: visible;
        opacity: 1;
        transition: var(--transition);
        cursor: pointer;
        &__btn {
            width: 108px;
            height: 108px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            border-radius: 100%;
            background-color: var(--orange);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: var(--transition)!important;
            svg {
                height: 100px;
                width: 100px;
                transform: rotate(90deg);
                flex-shrink: 0;
                position: absolute;
                left: 8px;
                top: 5px;
                path {
                    fill: white;
                }
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%!important;
            opacity: 0;
            height: 100%!important;
            background-color: rgba(0,0,0, .6);
            z-index: 1;
            transition: var(--transition)!important;
        }
    }
    &:hover {
        .video-element__play {
            &__btn {
                transform: translate(-50%, -50%) scale(1.1);
            }
            &:before {
                opacity: .6;
            }
        }
        .video-element__placeholder {
            img {
                transform: scale(1);
            }
        }
    }
}

.latest-items {
    position: relative;
    &__title {
        margin-bottom: 2rem;
        h2 {
            margin-bottom: 0;
        }
    }
}

.case-item {
    position: relative;
    width: calc(1 / 3 * 100% - (1 - 1 / 3) * 60px);
    margin-bottom: 60px;
    margin-right: 60px;

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-right: 0;
    }
    &__image {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    &__content {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        &__left {
            padding-right: 16px;
            span {
                color: var(--dark-blue);
                font-size: 0.9375rem;
                letter-spacing: -.15px;
            }
        }
        &__right {
            margin-left: auto;
        }
    }
    &__title {
        h3 {
           margin-bottom: 0; 
        }
    }
    &__logo {
        width: 75px;
        height: 56px;
        padding-left: 2px;
        padding-right: 2px;
        flex-shrink: 0;
    }
}

.error--page{
    position: relative;
    height: calc(100vh - 5px);
    padding-bottom: 51px;

    @include media-breakpoint-down(sm) {
        .post-header{
            margin: auto 0;
        }
    }

    .contact{
        h3, h4, p{
            color: var(--dark-blue);
        }
    }
}
@keyframes animate {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.scroll-down {
    position: absolute;
    right: 0;
    @include media-breakpoint-down(sm) {
        bottom: 18%;
    }
    path {
        animation: animate 2s infinite;
    }
    path:nth-child(2) {
        animation-delay: -0.2s;
    }
    
    path:nth-child(3) {
        animation-delay: -0.4s;
    }
}

@-webkit-keyframes wobble { 
    0% { -webkit-transform: translateX(0%); } 
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
    30% { -webkit-transform: translateX(20%) rotate(3deg); } 
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
    60% { -webkit-transform: translateX(10%) rotate(2deg); } 
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); } 
 }
 
 @keyframes wobble { 
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-5deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-3deg); } 
    60% { transform: translateX(10%) rotate(2deg); } 
    75% { transform: translateX(-5%) rotate(-1deg); } 
    100% { transform: translateX(0%); } 
 }
 
 .wobble { 
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
 }